src/n8n/Search TMDB.json
{
  "name": "Search TMDB",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "searchTMDB",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        0
      ],
      "id": "5723e954-e097-45da-8599-c166481cb9cb",
      "name": "Webhook",
      "webhookId": "b542cc0b-7f31-47cd-b9d4-7be9d81a9504"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "519fecaa-e280-4b6f-a4b0-18817ce58a90",
              "name": "query",
              "value": "={{ $('Webhook').item.json.body.query }}",
              "type": "string"
            },
            {
              "id": "1e4bf732-51e7-4d42-816b-fb1862a39d39",
              "name": "type",
              "value": "={{ $('Webhook').item.json.body.type === 'all' ? 'move,show,person,list,episode' : $('Webhook').item.json.body.type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        0
      ],
      "id": "5925e408-159c-4072-81af-1b579e1ca505",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2832,
        -128
      ],
      "id": "eced261d-2b13-4930-9809-eec225049488",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3552,
        -128
      ],
      "id": "a5e5edfb-fa23-4225-beb2-ae4283649c5e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e871f21e-cef7-4e03-a1ae-6fc794269ccc",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "object"
            },
            {
              "id": "28d4846a-4e6a-42b2-aa96-d573c6103644",
              "name": "ok",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        96
      ],
      "id": "e5f74338-7a16-4986-bf48-e0ba30458af6",
      "name": "Set Error"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2192,
        96
      ],
      "id": "f10529ba-e9be-4d01-9828-4641e1e87243",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "62134219-f4a5-457f-9336-a618522e4d8a",
              "name": "result",
              "value": "={{ $('Search Trakt').item.json.movie || $('Search Trakt').item.json.show || $('Search Trakt').item.json.person || $('Search Trakt').item.json.list || $('Search Trakt').item.json.episode }}",
              "type": "object"
            },
            {
              "id": "0c28e475-61b9-4e30-9c6b-fdbc2c597e1f",
              "name": "=result.posterUrl",
              "value": "=https://image.tmdb.org/t/p/original{{ $json.results[0].poster_path }}",
              "type": "string"
            },
            {
              "id": "adda3542-e4b9-4260-a117-c48dac177a29",
              "name": "result.backdropUrl",
              "value": "=https://image.tmdb.org/t/p/original{{ $json.results[0].backdrop_path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2016,
        -224
      ],
      "id": "815cc2b9-a8ca-4089-9fa5-72719fe009ec",
      "name": "Append Images"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2384,
        -128
      ],
      "id": "72728cac-bef6-4288-b535-87ebdda7a82d",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfe058f0-f8af-430c-b4f6-1b41443c0a16",
              "name": "ok",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "af1a557a-2612-42ad-bd41-9db7c87421af",
              "name": "results",
              "value": "={{ $json.results }}",
              "type": "array"
            },
            {
              "id": "71094972-b302-4427-af19-033c52fc1282",
              "name": "query",
              "value": "={{ $('Normalize Spellcheck').item.json.query }}",
              "type": "string"
            },
            {
              "id": "2c511d7f-3c1a-47f6-810b-613477632b04",
              "name": "query_original",
              "value": "={{ $('Normalize Spellcheck').item.json.query_original }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3152,
        -128
      ],
      "id": "2f6e0634-bf76-440a-a879-da67851894b3",
      "name": "Set OK"
    },
    {
      "parameters": {
        "url": "=https://api.trakt.tv/search/{{ $json.type }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            },
            {
              "name": "extended",
              "value": "full"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "trakt-api-key",
              "value": "7eeefe6a90b5f672dba4f854658c62f6b635ae51403787c17cecd669ad04feb3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        0
      ],
      "id": "66cdac67-1ee9-42df-bc75-d434a1358c05",
      "name": "Search Trakt",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://api.themoviedb.org/3/find/{{ $json.result.ids.imdb }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "external_source",
              "value": "imdb_id"
            },
            {
              "name": "api_key",
              "value": "e1683ec3ce6caa97efe47330bb09227f"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer: eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlMTY4M2VjM2NlNmNhYTk3ZWZlNDczMzBiYjA5MjI3ZiIsIm5iZiI6MTczMDQ4NTIwOC45MjUsInN1YiI6IjY3MjUxYmQ4YTQ5OWNjMmVmNzA1MTFkNSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.m-e4uP8oGrYVfzf5kcY2UYXu_6C0j-SWWfOaBWuCXCI"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        -96
      ],
      "id": "e085ce0b-0421-41f1-acd6-deaab513b1ad",
      "name": "Get Posters",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3eb19906-7e01-4d67-b442-5ed9c9bf2140",
              "name": "result",
              "value": "={{ $json.movie || $json.show || $json.person || $json.list || $json.episode }}",
              "type": "object"
            },
            {
              "id": "bc74d4aa-6b49-4218-a69f-6b769222fda7",
              "name": "result.type",
              "value": "={{ $json.type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        -96
      ],
      "id": "da690e05-e8aa-4a8d-aa51-15b8c0a3d7ec",
      "name": "Normalize"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "81316411-9b48-4088-9e6b-1bffa90e44dd",
              "name": "results",
              "value": "={{ []\n  .concat(\n    $json.movie_results || [],\n    $json.tv_results || [],\n    $json.person_results || [],\n    $json.tv_episode_results || [],\n    $json.tv_season_results || []\n  )\n}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        -192
      ],
      "id": "b608ecb8-e037-45a3-8f1f-4bc726098890",
      "name": "Normalize 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7fb4347b-46a3-4f11-b697-1127229ff1fb",
              "name": "result",
              "value": "={{ $json.result }}",
              "type": "object"
            },
            {
              "id": "f9f8c2e3-5cc0-46d4-820b-86902aaef263",
              "name": "result.error",
              "value": "={{ $json.error }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        0
      ],
      "id": "6b74d372-fda8-4973-af32-b68b325a92e9",
      "name": "Append Error"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "messages": {
          "values": [
            {
              "content": "=Based on your knowledge please fix any spelling errors for a search for a {{ $json.type }} the query is:\n{{ $json.query }}\n\nPlease output json as \n```json\n{\n\"query\": \"...\",\n\"query_original\": \"...\",\n\"type\": \"...\"\n}\n```"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        256,
        0
      ],
      "id": "fc62f067-9004-40bb-bf89-5df58aa61d71",
      "name": "Spell Check",
      "credentials": {
        "openAiApi": {
          "id": "B0qceYwtPud7QRyP",
          "name": "Personal OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93399584-bcf2-41a0-93e1-ea8b552cc6fe",
              "name": "query",
              "value": "={{ $json.choices[0].message.content.query }}",
              "type": "string"
            },
            {
              "id": "3e94afb6-4e4b-417f-9fb7-1db3fc270770",
              "name": "query_original",
              "value": "={{ $json.choices[0].message.content.query_original }}",
              "type": "string"
            },
            {
              "id": "f328d77d-e713-4fd6-b736-717cce848e0b",
              "name": "type",
              "value": "={{ $json.choices[0].message.content.type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        0
      ],
      "id": "cf89c940-3eba-4eba-a5c2-2d6fba3baf18",
      "name": "Normalize Spellcheck"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d387a6f-de1b-472b-9a0c-1e0d11f24b9e",
              "name": "",
              "value": "={{ $json.result }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2592,
        -128
      ],
      "id": "8e815e29-a18a-4501-93c4-482d435ddff1",
      "name": "Flatten"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "keep-alive",
            "host": "n8n.yams",
            "x-forwarded-scheme": "http",
            "x-forwarded-proto": "http",
            "x-forwarded-for": "192.168.0.11",
            "x-real-ip": "192.168.0.11",
            "content-length": "44",
            "content-type": "application/json",
            "authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJiZWY4NWY1NS0xZTBjLTRiOTItYmVjYy0xNzk2NmFlNGEyNTMiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzU2NzYxOTU0LCJleHAiOjE3NjQ0Nzg4MDB9.tMwPRSO-i0ilLB7cMXIu9TTyZ0PdkXTX6FsAAY8zyec",
            "accept": "*/*",
            "accept-language": "*",
            "sec-fetch-mode": "cors",
            "user-agent": "node",
            "accept-encoding": "gzip, deflate"
          },
          "params": {},
          "query": {},
          "body": {
            "query": "conan the barbian",
            "type": "movie"
          },
          "webhookUrl": "http://localhost:5678/webhook/searchTMDB",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Spell Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Set OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Append Images": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Flatten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set OK": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Trakt": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Posters": {
      "main": [
        [
          {
            "node": "Normalize 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Get Posters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize 2": {
      "main": [
        [
          {
            "node": "Append Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Error": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Spell Check": {
      "main": [
        [
          {
            "node": "Normalize Spellcheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Spellcheck": {
      "main": [
        [
          {
            "node": "Search Trakt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a8c14008-fc1f-42da-83c4-815e3a7b3cb3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd0d7f146754457eb7741969d4a6dc0e6e273a405f2c74c1127814f80a852a1e"
  },
  "id": "sOA4cwHjaAa9QFLq",
  "tags": []
}